<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="boat" height="200" src="{{ "/assets/img/boat.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 2018 Maritime RobotX Challenge, Honolulu, Hawaii </h3>
    <!-- <ul>
    </ul> -->
    <p>Responsible for UAV visual perception and positioning, using Python and OpenCV to complete target detection, camera calibration, and camera and lidar coordinate fusion.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Temporal-Spatial Problem: AI for prediction of high-resolution air quality data </h3>
    <p>456.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
